<div class="container">
  <!-- Header Section -->
  <div class="header">
    <app-header [heading]="'Live View'"></app-header>   
  </div>
  <!-- Main Content Container -->
  <div class="main-container">
    <!-- Sidebar Section -->
    <div class="side-nav">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content Area -->
    <div class="main">
      <!-- Row for the first set of camera views -->
      <div class="live-view">
        <div class="row">
          <!-- Camera 1 -->
          <div class="camera-view">
            <div class="camera-label">Camera 1</div>
            <div class="camera-frame">
              <!-- Video element for Camera 1 -->
              <video id="video1" width="300" height="240" autoplay muted></video>
            </div>
          </div>
          <!-- Camera 2 -->
          <div class="camera-view">
            <div class="camera-label">Camera 2</div>
            <div class="camera-frame">
              <!-- Video element for Camera 2 -->
              <video id="video2" width="300" height="240" autoplay muted></video>
            </div>
          </div>
        </div>

        <!-- Row for the second set of camera views -->
        <div class="row">
          <!-- Camera 3 -->
          <div class="camera-view">
            <div class="camera-label">Camera 3</div>
            <div class="camera-frame">
              <!-- Video element for Camera 3 -->
              <video id="video3" width="300" height="240" autoplay muted></video>
            </div>
          </div>
          <!-- Camera 4 -->
          <div class="camera-view">
            <div class="camera-label">Camera 4</div>
            <div class="camera-frame">
              <!-- Video element for Camera 4 -->
              <video id="video4" width="300" height="240" autoplay muted></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    Powered by <span class="build">Build</span><span class="int">INT</span>
  </footer>
</div>
