<aside id="sidebar" class="sidebar" [class.active]="isSidebarOpen">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/dashboard" routerLinkActive="active">
                <i class="fas fa-tachometer-alt"></i> 
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <!-- User Management - Only show if userRole !== 'User' -->
        <li class="nav-item" *ngIf="userRole !== 'User'">
            <a class="nav-link collapsed" routerLink="/usermanagement" routerLinkActive="active">
                <i class="fa fa-users"></i>
                <span>User Management</span>
            </a>
        </li><!-- End User Management Nav -->
    </ul>
</aside>
